*{
    margin: 0;
}

body{
    font-family: sans-serif;
    margin: 0;
}

nav{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gowun Dodum', sans-serif;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    color: #ffff;
    font-weight: 700;
    font-size: x-large;
}

.list{
    min-height: 80vh;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 1px red; */
}

form.new-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-item button{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.list ul li{
    list-style-type: decimal;
    padding: 10px;
    /* border: solid black 1px;  */
}

.list h2{
    color: rgb(6, 6, 88);
    display: inline-block;
}

.list ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    color: rgb(6, 6, 88);
}

.list ul li form button{
    background: none;
    color: green;
    cursor: pointer;
    border: none;
    font-size: large;
}

.new-item input{
    height: 4vh;
    padding: 2.5px 10px;
    border: none;
    background: linear-gradient(90deg, #92FE9D 0%, #00C9FF 100%);
    width: 30vw;
    margin: 2vw;
    height: 5vh;
    border-radius: 5vh;
}

.new-item input:focus{
    outline: none;
}

.bi.bi-plus-circle-fill{
    font-size: xx-large;
    color: #6439fd;
}

.bi.bi-plus-circle-fill:hover{
    font-size: xx-large;
    color: #583cbb;
}

footer{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    align-items: center;
}